name: Build Specification

on:
  push:
    branches-ignore: [ 'temp/*' ]
  pull_request:
    branches: [ master ]

jobs:
  build-spec:
    name: Build Specification

    runs-on: ubuntu-18.04

    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: prepare
      run: mkdir build
    - name: build
      uses: avattathil/asciidoctor-action@master
      with:
        program: "asciidoctor -D build --backend=html5 -o index.html specification/index.adoc"
    - name: archive
      uses: actions/upload-artifact@v2
      with:
        name: SSP-Traceability-Spec
        path: build/*
        if-no-files-found: error
    - name: extract branch name
      id: extract_branch
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
    - name: deploy
      if: github.ref != 'refs/heads/master' && github.event_name == 'push'
      uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build
          destination_dir: ${{ steps.extract_branch.outputs.branch }}
